* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8B4513;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6vh;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

header a#logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  color: #333;
}

header nav ul li a {
  padding: 20px;
}

header nav ul li a:hover {
  color: #eb8;
}

#btn-mobile {
  display: none;
}

main section {
  min-height: 100vh;
}

main section#home {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url(../assets/bg-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

main section#home article {
  width: 40%;
  padding: 20px;
  text-align: center;
  margin-left: 20vh;
  position: relative;
}

main section#home h1 {
  font-size: 6vh;
  font-weight: 300;
  margin-bottom: 2vh;
}

main section#home p {
  font-size: 2.6vh;
  font-weight: 300;
  margin-bottom: 5vh;
}

main section#home a {
  padding: 2vh 4vh;
  border: 0.3vh solid #fff;
  border-radius: 20px;
  font-size: 2.2vh;
  font-weight: 300;
  transition: all 0.3s ease;
  font-weight: bold;
}

main section#home a:hover {
  background-color: #fff;
  color: #000;
}

main section#cozimento {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section#cozimento h2 {
  font-size: 4vh;
  margin: 0 0 5vh 0;
  text-align: center;
}

main section#cozimento article {
  width: 80%;
  margin: 0 auto;
}

main section#cozimento div#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2.4vh;
  padding: 20px;
}

main section#cozimento div#grid div.item {
  padding: 10px;
  display: flex;
}

main section#cozimento article div.img {
  margin: 0 2vh;
  display: block;
  line-height: 0;
  border-width: 0px;
  min-width: 10vh;
  min-height: 10vh;
}

main section#cozimento article div.img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

main section#cozimento article div.textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;
}

main section#cozimento article div.textos h3 {
  margin-bottom: 1.5vh;
}

main section#cozimento article div#textos p {
  font-size: 2.6vh;
  font-weight: 300;
  margin-bottom: 5vh;
}

main section#missao {
  background-image: url(../assets/bg-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section#missao article {
  margin-top: 90vh;
  max-width: 70vh;
  height: auto;
  padding: 7vh;
  /* margin-left: 20vh; */
  background-color: #fff;
  border-radius: 20px;
}

main section#missao h2 {
  font-size: 6vh;
  font-weight: 300;
  margin-bottom: 2vh;
}

main section#missao p {
  font-size: 2.6vh;
  font-weight: 300;
  margin-bottom: 5vh;
}

main section#missao a {
  padding: 2vh 4vh;
  border: 0.3vh solid #000;
  border-radius: 20px;
  font-size: 2.2vh;
  font-weight: 300;
  transition: all 0.3s ease;
  font-weight: bold;
}

main section#missao a:hover {
  background-color: #000;
  color: #fff;
}

main section#sobre {
  background-color: #e5e5e5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section#sobre article {
  max-width: 130vh;
  margin: 40vh auto 0;
  display: flex;
}

main section#sobre article div#esquerda {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vh 5vh;
  background-color: #fff;
}

main section#sobre article div#esquerda h2 {
  font-size: 4vh;
  margin: 0 0 5vh 0;
  text-align: center;
}

main section#sobre article div#esquerda p {
  font-size: 2.6vh;
  font-weight: 300;
  margin-bottom: 5vh;
}

main section#sobre article div#esquerda div#links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main section#sobre article div#esquerda div#links a {
  padding: 2vh 4vh;
  border: 0.3vh solid #000;
  border-radius: 20px;
  font-size: 2.2vh;
  font-weight: 300;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-bottom: 2vh;
}

main section#sobre article div#esquerda div#links a:hover {
  background-color: #000;
  color: #fff;
}

main section#sobre article div#direita {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section#sobre article div#direita img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main section#sobre div#img-missao {
  max-width: 130vh;
  margin: 20vh 0;
}

main section#sobre div#img-missao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main section#itens {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section#itens article {
  max-width: 140vh;
  display: flex;
  flex-direction: column;
  margin: 20vh auto;
}

main section#itens article h2 {
  font-size: 4vh;
  margin: 0 0 5vh 0;
  text-align: center;
}

main section#itens article p {
  font-size: 2.6vh;
  font-weight: 300;
  margin-bottom: 5vh;
  text-align: center;
}

main section#itens article div#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 4.5vh;
  padding: 20px;
}

main section#itens article div#grid div.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section#itens article div#grid div.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main section#itens article div#grid div.card h3 {
  font-size: 2.6vh;
  font-weight: 300;
  margin-bottom: 1.5vh;
  margin-top: 2.5vh;
}

main section#itens article div#grid div.card p {
  font-size: 2.2vh;
  font-weight: 300;
  margin-bottom: 1.5vh;
}

main section#itens article div#grid div.card span {
  font-size: 2.2vh;
  font-weight: 300;
  margin-bottom: 1.5vh;
  font-weight: bold;
}

main section#contato {
  background-image: url(../assets/bg-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

main section#contato article {
  max-width: 190vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}

main section#contato article h2 {
  font-size: 4vh;
  margin: 0 0 5vh 0;
  text-align: center;
}

main section#contato article div#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section#contato article div#form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main section#contato article div#form form input {
  width: 100%;
  padding: 2vh 4vh;
  border: 0.3vh solid #000;
  border-radius: 20px;
  font-size: 2.2vh;
  font-weight: 300;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-bottom: 2vh;
}

main section#contato article div#form form button {
  width: 100%;
  padding: 2vh 4vh;
  border: 0.3vh solid #000;
  border-radius: 20px;
  font-size: 2.2vh;
  font-weight: 300;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-bottom: 2vh;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

main section#contato article div#form form button:hover {
  background-color: #fff;
  color: #000;
}

main section#contato article div#informacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section#contato article div#informacoes div.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

main section#contato article div#informacoes div.item h3 {
  font-size: 2.6vh;
  font-weight: 300;
  margin-bottom: 1.5vh;
  margin-top: 2.5vh;
}

main section#contato article div#informacoes div.item p {
  font-size: 2.2vh;
  font-weight: 300;
  margin-bottom: 1.5vh;
}

footer {
  background-color: #333;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 2.2vh;
  font-weight: 300;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  main section#cozimento div#grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: auto;
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: black;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  main section#home article {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  main section#home article h1 {
    font-size: 4vh;
    margin: 0 0 5vh 0;
    text-align: center;
  }

  main section#cozimento article {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20vh auto;
  }

  main section#cozimento div#grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main section#missao article {
    display: none;
  }

  main section#sobre article {
    flex-direction: column;
  }

  main section#sobre article div#direita {
    width: 100%;
  }

  main section#sobre article div#direita h2 {
    font-size: 4vh;
    margin: 0 0 5vh 0;
    text-align: center;
  }

  main section#sobre article div#direita p {
    font-size: 2.6vh;
    font-weight: 300;
    margin-bottom: 5vh;
    text-align: center;
  }

  main section#itens article {
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    margin: 20vh auto;
  }

  main section#itens article h2 {
    font-size: 4vh;
    margin: 0 0 5vh 0;
    text-align: center;
  }

  main section#itens article p {
    font-size: 2.6vh;
    font-weight: 300;
    margin-bottom: 5vh;
    text-align: center;
  }

  main section#itens article div#grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 4.5vh;
    padding: 20px;
  }

  main section#contato article {
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    margin: 20vh auto;
  }

  main section#contato article h2 {
    font-size: 4vh;
    margin: 0 0 5vh 0;
    text-align: center;
  }

  main section#contato article div#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main section#contato article div#form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  main section#contato article div#form form input {
    width: 100%;
    padding: 2vh 4vh;
    border: 0.3vh solid #000;
    border-radius: 20px;
    font-size: 2.2vh;
    font-weight: 300;
    transition: all 0.3s ease;
    font-weight: bold;
    margin-bottom: 2vh;
  }

  main section#contato article div#form form button {
    width: 100%;
    padding: 2vh 4vh;
    border: 0.3vh solid #000;
    border-radius: 20px;
    font-size: 2.2vh;
    font-weight: 300;
    transition: all 0.3s ease;
    font-weight: bold;
    margin-bottom: 2vh;
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }

  main section#contato article div#form form button:hover {
    background-color: #fff;
    color: #000;
  }

  main section#contato article div#informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main section#contato article div#informacoes div.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
  }

  main section#contato article div#informacoes div.item h3 {
    font-size: 2.6vh;
    font-weight: 300;
    margin-bottom: 1.5vh;
    margin-top: 2.5vh;
  }

  main section#contato article div#informacoes div.item p {
    font-size: 2.2vh;
    font-weight: 300;
    margin-bottom: 1.5vh;
  }

  footer {
    background-color: #333;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer p {
    font-size: 2.2vh;
    font-weight: 300;
    color: #fff;
  }

  footer p a {
    color: #fff;
  }
}
